extends layout

block content
  .main
    h2 Vision Statement
    p
      | "The Penguin Codex" provides a brief summary on some penguin species. Users can view interesting facts about different penguins using their dedicated pages and also interactively learn the locations of the different habitats on a map.
    h2 Architecture
    img(src='images/diagram.png' class="diagram-display")
    h2 User Guide
    p
      | On each informational page for a penguin, the user can read facts about it, view images and press the "like" button to like a penguin.
    img(src='images/1.jpeg' class="guide-display")
    p
      | On the summary page, the user can read a few additional facts about each penguin.
    img(src='images/2.jpeg' class="guide-display")
    p
      | On the map page, the user can click each penguin's button to view where that penguin is most often found in the world!
    img(src='images/3.jpeg' class="guide-display")