doctype html
html
  head
    title The Penguin Codex
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1=header
    .topnav
      button.nav-button Home
      button.nav-button Emperor
      button.nav-button Galapagos
      button.nav-button Gentoo
      button.nav-button Macaroni
      button.nav-button Summary
      button.nav-button Map
      script(src='javascripts/client.js')
    block content