extends layout

block content 
  .main
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAzGiFsz36fALXvIMm0Ho2Kq8DbhfbJrpw&callback=initMap', <='', script='')
  #map
  mapnav
    button.map-button Emperor
    button.map-button Galapagos
    button.map-button Gentoo
    button.map-button Macaroni
    script(src='javascripts/map.js')
