extends layout

block content
  .main
    p
      | Here are some additional facts.
    div.row
      div.column
        img(src="images/emperor.jpg" class="item-display")
      div.column
        img(src="images/galapagos.jpg" class="item-display")
      div.column
        img(src="images/gentoo.jpg" class="item-display")
      div.column
        img(src="images/macaroni.jpg" class="item-display")
    
    div.row
      div.column
        p="Emperor: Biggest"
      div.column
        p="Galapagos: Most northern habitat"
      div.column
        p="Gentoo: Fastest (upto 20mph underwater)"
      div.column
        p="Macaroni: Coolest hair"