extends layout

block content
  h1 Welcome to our favorite penguins!
  .topnav
    button#indexButton Home
    button#emperorButton Emperor
    button#macaroniButton Macaroni
  .main
    p Hello! please check out our favorite penguins, and make sure you drop a "like" if you like any of them! cheers.
    script(src='javascripts/indexclient.js')
